{% extends 'base.html.twig' %}

{% block title %}Modification d'une question{% endblock %}

{% block body %}

    <div class="container ml-3 mt-3 mb-5">
        <a href="{{ path('question_list')}}" class="btn btn-primary float-end">Retour</a>
        <h2>Modification d'une question</h2>
        {{ form(form) }}
    </div>

{% endblock %}
