{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
<div class="container w-25 my-4 border border-1 p-5 card">
    <div class="row">
        <div class="col">
            <h4>Réinitialiser le mot de passe</h4>
            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <button class="btn btn-primary">Réinitialiser</button>
            {{ form_end(resetForm) }}
        </div>
    </div>
</div>
{% endblock %}
