{% extends 'base.html.twig' %}

{% block title %}Exercice{% endblock %}

{% block body %}

    <div class="container ml-3 mt-3 mb-5">
        <a href="{{ path('exercise_list')}}" class="btn btn-primary float-end">Retour</a>
        <h2>Modification d'un exercice</h2>
        {{ form(form) }}
    </div>  
       
{% endblock %}